/* 1. Views */

/*MainView.js*/
.App{
  text-align: center;
}

.App-header{
  background-color: #222;
  height: 5%;
  padding: 20px;
  color: white;
}

/*BookView.js*/
.bookInfo{
  float: right;
  text-align: left;
  width: 55%;
}

th{
  width: 15%;
}

/* 2. Components */

/*BookMenu.js*/
.MenuHolder{
  float: left;
  width: 40%;
}

/*BookMenuItem.js*/
.bookDiv{
  background-color: #CCCCCC;
  height: 65px;
  margin-top: .5%;
  text-align: left;
}

.bookDiv:hover{
  background-color: #AAAAAA;
}

.bookDiv:active{
  background-color: #888888;
}

.bookPt{
  font-size: 100%;
  float: left;
  padding-left: 1em;
  padding-top: 5px;
}

.bookPa{
  font-size: 100%;
  float: right;
  padding-right: 15px;
  padding-left: 1em;
  padding-top: 5px;
}
