/* 1. Views */

/*MainView.js*/
.App{
  text-align: center;
  overflow: hidden;
}

.App-header{
  background-color: #222;
  margin-bottom: 10px;
  color: white;
  height: 100px;
}

.searchHolder{
  text-align: left;
}

.searchBar{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10%;
  width: 20%;
  height: 23px;
  font-size: 18px;
  border-style: solid;
}

/* 2. Components */

/*BookMenu.js*/
.MenuHolder{
  float: left;
  width: 45%;
  height: 850px;
  overflow: scroll;
}

/*BookMenuItem.js*/
.bookDiv{
  background-color: #CCCCCC;
  height: 65px;
  margin-top: .5%;
  text-align: left;
  border-radius: 10px;
}

.bookDiv:hover{
  background-color: #AAAAAA;
}

.bookDiv:active{
  background-color: #888888;
}

.bookPt{
  font-size: 100%;
  float: left;
  padding-left: 1em;
  padding-top: 5px;
}

.LeftHolder{
  margin-left: 350px;
  text-align: right;
}

.bookPa{
  font-size: 100%;
  text-align: right;
  margin-right: 5%;
  padding-top: 5px;
  display: inline-block;
}

.removeButton{
  float: right;
  width: 25px;
  height: auto;
  margin-right: 10px;
  padding-top: 18px;
}

.removeButton:hover{
  filter: brightness(75%);
}

.removeButton:active{
  filter:brightness(50%);
}

/*TextButton.js*/
.TextButton{
  border-style: solid;
  width: 150px;
  text-align: center;
  border-radius: 15px;
}

.TextButton:hover{
  background-color: #CCCCCC;
}

.TextButton:active{
  background-color: #999999;
}

/*MenuButton.js*/
.MenuButton{
  float: left;
  margin-left: 12.5%;
  margin-top: 1%;
  width: 15%;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #222;
  border-radius: 25px;
}

.MenuButton:hover{
  background-color: #555;
}

.MenuButton:active{
  background-color: #333;
}

.MenuButton > p{
  color: #FFFFFF;
  font-size: 1em;
}

/*SearchButton.js*/
.SearchButton{
  border-style: solid;
  display: inline-block;
  height: .5%;
  width: 1.5%;
  margin-left: .75%;
  vertical-align: middle;
  text-align: center;
}

.SearchButton > p{
  margin: 20%;
  font-size: 12px;
}

.SearchButton:hover{
  background-color: #BBBBBB;
}

.SearchButton:active{
  background-color: #999999;
}

/*BookInfo.js*/
.bookInfo{
  float: right;
  text-align: left;
  width: 55%;
  padding-left: 1%;
}

th{
  width: 15%;
}
